PROJECT_NAME=
VIRTUAL_ENV=
NAMESPACE=
DEBUG=
SKIP_TASK_QUEUE=
CELERY_ID=
POSTGRES_1_PORT_5432_TCP_PORT=

DJANGO_SECRET=

TWILIO_SID=
TWILIO_TOKEN=
TWILIO_FROM_NUMBER=

SENDGRID_API_KEY=
SERVER_EMAIL=
DEFAULT_FROM_EMAIL=

REHIVE_API_URL=
ENV_FILE=
